<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.basulabs.mahalaya"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="in.basulabs.mahalaya.SplashScreenActivity"
            android:exported="false" />

        <activity
            android:name="in.basulabs.mahalaya.DateTimeActivity"
            android:exported="false" />

        <activity
            android:name="in.basulabs.mahalaya.ManualDateActivity"
            android:exported="false" />

        <activity
            android:name="in.basulabs.mahalaya.ManualTimeActivity"
            android:exported="false" />

        <activity
            android:name="in.basulabs.mahalaya.FilesActivity"
            android:exported="false" />

        <activity
            android:name="in.basulabs.mahalaya.CountdownActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:noHistory="true" />

        <activity
            android:name="in.basulabs.mahalaya.MediaPlayerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:noHistory="true" />

        <activity
            android:name="in.basulabs.mahalaya.HelpActivity"
            android:exported="false" />

        <service
            android:name="in.basulabs.mahalaya.MahalayaService"
            android:exported="false"
            android:taskAffinity=""/>

        <activity
            android:name="in.basulabs.mahalaya.ThankYouActivity"
            android:exported="true" />

    </application>

</manifest>
